* {
    box-sizing: border-box;
}

header {
    border-color: #091D34;
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
    padding: 20px;
    
}
.header{
    height: 300px;
}
h1{
    margin: 10px;;
}

body {
    margin: 8px;
    border-color: #091D34;
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
    padding: 20px;
   
}

.figureblog {
    box-sizing: border-box;
    float: left;
    position: relative;
    padding: 20px;
    width: 43% 
}

#logo {
    position: absolute;
	top: 3rem;
	right: 10%;
	z-index: 5;
	width: auto;
	max-width: 15vw;
	height: auto;
}

#image1, #image2, #image3, #image4{
    width: 100%;
    max-width: 550px;
    min-width: 200px;
    height: auto;
    border-color: #091D34;
    border-style: solid;
    border-width: 2px;
    margin: 0px;
    padding: 0px;
}

footer {
    border-color: #091D34;
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
    padding: 10px;
 
}

.navflex{
    display: flex; 
    justify-content: flex-start; 

    padding: 30px;
}

.nav-items{
padding: 10px;
}

.nav-list{
padding: 5px;
}

.sign-in {
    margin-left: auto;
}

.team{
    display: flex;
    
}

.member_container{    
    border-style: solid;
    border-color: #091D34;
    border-radius: 10px;
    border-width: 2px;
    margin: 10px;
    padding: 20px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px;
  }

.grid_container {
    display: grid;
    grid-template-rows: [header-start] 1fr [content-start] auto [footer-start] 0.5fr;
    grid-template-columns: [nav] 1fr [section] 3fr [aside] 1fr;
    grid-template-areas:
      "head head head"
      "nav main aside"
      "foot foot foot";
  }
 
.header {
    grid-area: head;
    align-content: center;


  }

.navigation{
    grid-area: nav;
    
    background-color: #609CE1;
    font-size: 20px;

}

.aside{
    grid-area: aside;
    
    background-color: #609CE1;
}

.main{
    grid-area: main;
    
    padding: 5%;
}
  .footer-container{
    grid-area: foot;
  }

/*Media Query for mobile viewport*/
@media only screen and ( max-width: 580px ) {
header{
    min-height: 40vh;
}
.team{
    display: flex;
    flex-direction: column;}

.member_container{
    display: flex;
    flex-direction: column;
    
    }
    
.heading{font-size: 50px;}
.navflex{flex-direction: column;
        padding:0%;
        font-size: medium;}
.nav-items{padding:0%;}
.sign-in {margin-left: auto;}
.footer-container{
    flex-direction: column;
}
}

/*Media Query for tablet viewport*/
@media only screen and ( max-width: 780px ) {
.team{
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr;
    grid-template-areas:
      "member_1"
      "member_2"
      "member_3";
  }
.member_container{
    display: flex;
  }
.heading{font-size: 50px;}
.navflex{
    padding:0%;
    font-size: medium;}
.nav-items{padding:2%;}

}

/*Media query for desktop viewport*/
@media only screen and ( min-width: 781px ) {
.team{display: flex;}
    
}