/*
#E1ECF9
#609CE1
#236AB9
#133863
#091D34
#AEEEEE
*/

/*
#E1ECF9 for body background:
Rationale: A very light, soft blue. Provides a clean and calming background. It's easier on the eyes than pure white.

#091D34 for body text:
Rationale: Offers excellent contrast against the light background, ensuring readability. A softer alternative to black, reducing eye strain.

Blue for link color:
Rationale: A standard, recognizable link color. It clearly indicates clickable elements. The hover effect reinforces this.
*/

/* Default styles for all pages */
body {
    font-family: 'Arial', Helvetica, sans-serif;
    line-height: 1.6;
    background-color: #E1ECF9;

}

header { 
    background: url(../images/header.jpg) repeat ;
}
footer {
background: linear-gradient(to right,  #609ce1 0%,#2989d8 29%,#133863 71%); 
}

/* Default link color */
a:link {
    color: blue; 
    text-decoration: none;
    font-weight: bold;
}

/* Visited link */
a:visited {
    color: #551a8b; 
}

/* Hover effect */
a:hover {
    color: #ff4500; 
    text-decoration: underline;
}

/* Active link (when clicked) */
a:active {
    color: #d90000; 
}

/*Styles for nav*/
nav {
    font-family: 'Georgia', Verdana, serif;
    font-size: 30px;
    font-weight: normal;
}

.aside{
    font-family: 'Georgia', Verdana, serif;
    font-size: 20px;
    font-weight: normal;
}

.contents{
    text-align: center;
}
/* Styles for h1,h2, h3, p and ul elements */

h1 {
    font-family: "Rubik Wet Paint", Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 70px;
    line-height: 1.2;
    color: #091D34
}

h2 {
    font-family: 'Georgia', Verdana, serif;
    font-size: 32px;
    font-weight: bold;
    line-height: 1.3;
    color: #091D34;
}
   
h3 {
    font-family: 'Georgia', Verdana, serif;
    font-size: 25px;
    font-weight: bold;
    line-height: 1.3;
    color: #091D34;
}

h4{
    font-family: 'Georgia', Verdana, serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.3;
    color: #091D34;  
}

p {
    font-family: 'Arial',Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.6;
    color: #091D34;
}

ul {
    color: #091D34;
    list-style: none;
}

figcaption {
    color: #091D34;
}
/*Styles for footer*/
.footer-container {
    font-weight: bold;
    color: #091D34;
}